.topic-scroll {
   height: 70%;
   overflow-y: scroll;
   margin: 0 5px;
}
.topics {
   padding: 10px 10px;
}

.topics::-webkit-scrollbar {
   display: none;
}

.topic {
   width: 100%;
   border: 1px solid black;
   border-radius: 5px;
   padding: 15px;
   background-color: rgb(253, 67, 67);
   box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
   color: #fff;
   text-align: left;
   margin-bottom: 10px;
}

.highlight--learn {
   color: rgb(255, 96, 96);
}

.topic__content {
   line-height: 1.2rem;
} 

.topic__title, .topic__content {
   color: #fff;
}

.screen-title--learn {
   margin-top: 60px;
   text-align: center;
   padding: 10px;
   line-height: 2.5rem;
}

::-webkit-scrollbar {
   width: 7px;
 }
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }