@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', sans-serif;
    box-sizing: border-box;
}

.phone {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.screen,
.button--exit,
.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen,
.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    flex-direction: column;
    border-radius: 10px;
    width: 356px;
    height: 90%;
    border: 1px solid black;
    background: #fff;

    padding: 10px;
    text-align: center;
}

.screen--choices,
.screen--quiz {
    left: 76%;
    opacity: 0;
    transition: all .2s ease-in;
    z-index: -2;
}

/* Main Menu */

.screen-title {
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 3rem;
}

.screen-subtitle {
    margin: 50px 0;
    font-size: 1.1rem;
    width: 250px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 280px;
}

.button {
    width: inherit;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fce205;
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
}

.button:active {
    box-shadow: 0 6px 4px rgba(0, 0, 0, .25);
}

.button--learn {
    background-color: rgb(253, 67, 67);
}

.button a {
    text-decoration: none;
    color: #111;
}

.button--exit {
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
}

/* Choices Menu */

.buttons--choices {
    margin-top: 60px;
}

.button--choices {
    width: 300px;
    height: 150px;
    text-align: left;
    margin-bottom: 10px;
}

.button__information {
    padding-left: 20px;
    padding-top: 40px;
}

.button__information h3 {
    font-weight: 700;
}

.button__information p {
    font-size: .9rem;
    font-weight: 500;
}

/* Learn Section */
.button--exit--learn {
    background: rgb(253, 67, 67);
}

.screen-title--learn {
    margin-top: 50px;
    text-align: left;
    padding-left: 10px;
    line-height: 2.5rem;
}

.highlight--learn {
    color: rgb(253, 67, 67);
}

.topics {
    padding: 10px 10px;
    margin: 20px 0;
    overflow-y: scroll;
}

.topics::-webkit-scrollbar {
    display: none;
}

.topic {
    width: 100%;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(253, 67, 67);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

    text-align: left;
    margin-bottom: 10px;
}

.topic__content {
    line-height: 1.2rem;
}

/* Main Quiz */
.timer {
    font-size: 1.5rem;
    font-weight: 700;
}

.compound {
    font-weight: 900;
    font-size: 2.5rem;
    margin: 60px 0;
}

.screen--quiz {
    left: 76%;
    opacity: 0;
}

/* Pop-ups */
.screen--pop-up {
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    transition: all .2s ease-in-out;
}

.pop-up {
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    width: 230px;
    height: 230px;
    text-align: center;
    border-radius: 5px;
}

.pop-up__title {
    font-weight: bold;
}

.pop-up__next {
    margin-top: 20px;
    font-weight: bold;
}

.pop-up--timeup {
    background-color: rgb(253, 67, 67);
}
